[InternetShortcut]
Extension=.SchDoc
Comment=Provides connectivity between your production PCB and Altium Designer via the Universal JTAG Dowload Adapter or the NanoBoard User Board A/B headers.
DateTime=38656.645994838
